doctype html
html
  head
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', href='/styles/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Karla|Ubuntu', rel='stylesheet')
    script(src='/dependencies/jquery/jquery.js')
    script(src='/dependencies/popper/popper.js')
    script(src='/dependencies/bootstrap/bootstrap.js')
    title Sheldon Fries
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    block css
    
  body
    // Header
    nav.navbar.navbar-light.navbar-expand-lg.bg-light.fixed-top
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          a.nav-item.nav-link(href='/') Home
          li.dropdown.nav-item
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Apps
              span.caret
            .dropdown-menu
              span.dropdown-header Android Apps
              a.dropdown-item(href='https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.goofspiel&hl=en') Goofspiel
              a.dropdown-item(href='https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.hiittimer&hl=en') HIIT Timer
              a.dropdown-item(href='https://play.google.com/store/apps/details?id=com.companyname.Jumpy_Cat') Jumpy Cat
              span.dropdown-header Web Apps
              a.dropdown-item(href='http://hockey.sheldonfries.com') Hockey Calculator
              a.dropdown-item(href='https://github.com/sheldonfries/login-page') Login Page
              span.dropdown-header Miscellaneous
              a.dropdown-item(href='https://github.com/sheldonfries/crypto-reader') Crypto Reader
              a.dropdown-item(href='https://github.com/sheldonfries/TOSDataPuller') TOSDataPuller
          a.nav-item.nav-link(href='about') About
          a.nav-item.nav-link(href='http://blog.sheldonfries.com') Blog
        ul.ml-auto.navbar-nav.screen.social-nav
          li.nav-item.social
            a.nav-link(href='https://github.com/sheldonfries', target='_blank')
              i.fab.fa-github
          li.nav-item.social
            a.nav-link(href='https://www.linkedin.com/in/sheldonfries/', target='_blank')
              i.fab.fa-linkedin
          li.nav-item.social
            a.nav-link(href='https://play.google.com/store/apps/developer?id=Sheldon+Fries&hl=en', target='_blank')
              i.fab.fa-android
          li.nav-item.social
            a.nav-link(href='mailto:sheldonfries@gmail.com', target='_blank')
              i.fas.fa-envelope
    block content
    // Footer
    .footer
      span © 2019 Sheldon Fries